<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyLeaksDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>679EC6A9279E4D89007B778E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679EC6BF279E4D8C007B778E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679EC6CA279E4D8C007B778E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
